<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370298050681-6d84f1ok4t354ph5obiiu3456ibllphs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370298050681-6d84f1ok4t354ph5obiiu3456ibllphs</string>
	<key>API_KEY</key>
	<string>AIzaSyAAWyIX0RYixaseC33fxTDth37fhLM5LMg</string>
	<key>GCM_SENDER_ID</key>
	<string>370298050681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tparking.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tparking-8a873</string>
	<key>STORAGE_BUCKET</key>
	<string>tparking-8a873.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370298050681:ios:89a028f6a8bb947a661ca8</string>
</dict>
</plist>